snippet log
console.log(${1: logging body});$0
endsnippet

snippet logg
console.group('$1');
$2
console.groupEnd();
endsnippet

snippet rcc
import React from 'react';

export default class $1 extends React.Component {
	render() {
		$2
	}
}
endsnippet

snippet rcf
import React from 'react';

const $1 = ($2) => (
	$3
);

export default $1;
endsnippet
